/* --- Global Styles --- */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.App{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* --- PART 1: INTRODUCTION SECTION --- */
.site-header{
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 767px) {
  .site-header {
    flex-direction: column;
    align-items: center;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.nav-pills{
  gap: 0.5rem;
}

.nav-item{
  border-bottom: 1.5px solid #2980b9;
  border-radius: 0.375rem;
  transition: all 0.1s ease;
}

.nav-link:active{
  background-color: #0d6efd;
  color: white !important;

  transform: translateY(1px);
}

.intro-txt {
  margin-top: 1rem;
}

.contact-links {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.pf-links {
  align-items: center;
  background: #fff;
  border-radius: 15%;
  box-shadow: 0 4px 12px #00000014;
  color: #555;
  padding: .25rem;
  transition: color .3s;
}

.pf-links:hover{
  background-color: rgba(195, 190, 190, 0.2);
}

.pf-img {
  width: 35px;
  align-items: center;
  object-fit: cover;
}

#resume{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  font-weight: 700;
  margin-top: 0.5rem;
}

/* --- PART 2: SKILLS SECTION --- */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1rem;
}

.skills-grid span {
  padding: 0rem 1rem;
  border-radius: 4px;
  color: rgb(62, 59, 59);
  font-weight: bold;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  row-gap: 10px;
}

.skill-card>img {
  width: 85px;
  height: 85px;
  border-radius: 15px;
  align-items: center;
}

/* --- PART 3: PROJECTS SECTION --- */
h2 {
  align-self: center;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  flex: 1 1 300px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
}

.prjct-img {
  border-radius: 8px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.prjct-card-img {
  margin: 8px 8px 0;
  overflow: hidden;
}

.prjct-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

.prjctTitle {
  color: #1a1a1a;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0;
}

.prjctTech {
  font-size: 20px;
  font-weight: bolder;
  color: #666;
  flex-grow: 1;
  margin: 0 0 1rem;
}

.prjct-btns {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 5px;
  flex-direction: row;
}

.projectLink,
.githubLink {
  align-self: flex-start;
  border-radius: 50px;
  color: #fff;
  padding: .4rem .8rem;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s;
  width: 50%;
}

.projectLink {
  background-color: #3863da;
}
.projectLink:hover{
  background-color: #6ea4f6;
}

.githubLink {
  background-color: #1e1e1e;
}

.githubLink:hover{
  background-color: #4f4d4d;
}
/* --- Part 4:  FOOTER SECTION --- */
footer{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p{
  margin: 0;
}
